---
title: welcome to ideastudio
---
<div class="block home">
    <header class="home-header">
        <img class="image headshots" src="/assets/images/radiohead_headshots_750.png"/>
    </header>
    <div class="block-box home-main">
        <div class="content">
            <p>
                Radiohead are an English rock band from Abingdon, Oxfordshire, formed in 1985. The band consists of Thom Yorke (lead vocals, guitar, piano, keyboards), Jonny Greenwood (lead guitar, keyboards, other instruments), Ed O'Brien (guitar, backing vocals), Colin
                Greenwood (bass), and Phil Selway (drums, percussion, backing vocals). They have worked with producer Nigel Godrich and cover artist Stanley Donwood since 1994.
            </p>
            <p>
                Radiohead have sold more than 30 milli3 they were ranked 73rd in Rolling Stone's list of "The Greatest Artists of All Time"; Jonny Greenwood (48th[8]) and O'Brien were both included in Rolling Stone's list of greatest guitarists, and Yorke (66th[9])
                in their list of greatest singers.[10] In 2009, Rolling Stone
            </p>
        </div>
    </div>
    <!-- <div class="block-box home-side-bar">
        <img class="image image1" src="https://upload.wikimedia.org/wikipedia/commons/7/7d/Jonny_Greenwood_Synth_%28Amsterdam%29.jpg" alt=""/>
        <img class="image image2" src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Radiohead_Coachella_2004_cropped.jpg" alt=""/>
    </div> -->
</div>
<div class="block albums">
    <div class="block-header albums-header">
        Discography
    </div>
    <div class="block-content albums-list">
        <%= partial "album-item" %>
    </div>
</div>
